.container {
  margin: 20px auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-4 {
  width: calc(33.333% - 20px);
  margin-bottom: 20px;
}

.sala {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
}

img {
  max-width: 100%;
  height: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  border: none;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 20px;
  cursor: pointer;
  color: red;
}

.close:hover {
  color: #555;
}

.carousel {
  display: flex;
  overflow-x: hidden;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.carousel img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
}

#prevBtn, #nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

#prevBtn { left: 10px; }
#nextBtn { right: 10px; }

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
}
.button-container {
  display: flex;
  justify-content: center; /* Centramos horizontalmente */
}
.button {
  background-color: #0070FF;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.button.reserva-button {
  background-color: #28a745;
  margin-left: auto;
}
.like-button{
  background: none; /* Eliminamos el fondo del botón */
  border: none; /* Eliminamos el borde del botón */
  padding: 0; /* Eliminamos el relleno del botón */
  display: block; 
}
.dislike-button
{
  background: none; /* Eliminamos el fondo del botón */
  border: none; /* Eliminamos el borde del botón */
  padding: 0; /* Eliminamos el relleno del botón */
  display: block;  
}
.button img {
  width: 40px; /* Ancho deseado */
  height: 40px; /* Alto deseado */
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
}

img {
  width: 100%;
  height: auto;
}